* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkgreen;
  background-color: rgba(250, 235, 215, 0.267);
}

header {
  margin-bottom: 1rem;
  background-color: rgba(0, 128, 0, 0.424);
  text-align: center;
  border: yellowgreen solid 0.15rem;
  border-radius: 0.2rem;
}

h1 {
  font-size: 4rem;
}

body {
  border: yellowgreen 0.1rem solid;
  border-radius: 0.2rem;
}

#btns-peak {
  margin: 0.3rem;
  border: yellowgreen solid 2px;
  border-radius: 0.12rem;
  display: flex;
  padding: 0.9rem;
}

#btns-peak > button {
  align-items: center;
  margin: 0.5rem;
  border: solid darkgreen 0.1rem;
  border-radius: 0.25rem;
  background-color: rgba(153, 205, 50, 0.755);
  padding: 0.5rem;
}

#btns-buttom {
  margin: 0.3rem;
  border: yellowgreen solid 2px;
  border-radius: 0.12rem;
  display: flex;
  padding: 0.9rem;
}

#btns-buttom > button {
  align-items: center;
  margin: 0.5rem;
  border: solid darkgreen 0.1rem;
  border-radius: 0.25rem;
  background-color: rgba(153, 205, 50, 0.755);
  padding: 0.3rem;
  max-width: 3.5rem;
  max-height: 3.5rem;
}

#content-text {
  margin: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: solid darkgreen 0.2rem;
  border-radius: 0.9rem;
  padding: 2rem;
  background-color: rgba(0, 128, 0, 0.424);
  text-align: center;
  font-size: 2rem;
}

footer {
  margin: 1rem;
  font-size: 15px;
  border-top: solid 0.2rem rgba(0, 128, 0, 0.424);
  border-radius: 0.25rem;
}
